.header {
    max-width: 100%;
    min-height: 88px;
    background-color: #1C1C21;
    margin: 40px auto;
}

.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 88px);
    align-items: center;
    max-width: 1240px;
    margin: auto;
}

.link {
    display: flex;
    width: 178px;
    height: 56px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #F2F2F3;
    cursor: pointer;
    margin-left: 8px;
}

.link:first-child {
    margin-left: 0;
}

.link:last-child {
    justify-self: flex-end;
}

.logo {
    display: grid;
    justify-self: center;
}

.left {
    display: flex;
}
